* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #000; }

#ca {
  background: #cea2a2; }

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.inputTimer {
  width: 20%;
  margin-left: 10px;
  border-radius: 35px;
  padding-left: 10px; }

.btnTimer {
  width: 100px;
  height: 30px;
  border-radius: 45px;
  background: aqua;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }

.btnTimer:hover {
  background: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.settings .link-back {
  margin-top: 30px;
  text-align: center; }
  .settings .link-back a {
    font-size: 30px;
    color: #00f7ff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .settings .link-back a:hover {
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      color: #fff; }

.settings__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px; }
  .settings__start .input-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.settings span {
  color: #fff; }

input::-webkit-outer-spin-button {
  -webkit-appearance: none; }

input::-webkit-inner-spin-button {
  -webkit-appearance: none; }
